@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
<main class="lg:pl-72 flex flex-col h-screen">
    <header class="bg-white shadow-sm">
        <div class=" max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
            <h1 class="text-lg font-semibold leading-6 text-gray-900">Dashboard</h1>
        </div>
    </header>
    <div class="flex-1 overflow-y-auto p-5">

    </div></main>